[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
[submodule "docs-app/themes/hugo-book"]
	path = docs-app/themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
